fastapi==0.74.0
watchgod==0.7
websockets==10.1
requests==2.27.1
more-itertools==8.7.0
openpyxl==3.0.7
hiredis==2.0.0
aioredis==2.0.0
boto3==1.17.73
haversine==2.3.1
xlrd==2.0.1
loguru==0.6.0
SQLAlchemy==1.4.29
databases[postgresql]==0.5.3
jinja2==3.0.3
uvicorn==0.17.6
aiohttp==3.8.1
pydantic[email]==1.9.0
pyTelegramBotAPI==4.4.0
Pillow==9.1.0
sentry_sdk==1.5.10
pytest==7.1.2
asgi-lifespan==1.0.1
pytest-asyncio==0.18.3
httpx==0.22.0
aiosqlite==0.17.0
aiormq==6.2.3
